html {
	margin:0;
	width: 100%;
	height:100%;
}

.body {
	margin:0;
	background: #CCCCCC;
	height:100%;

}
.header {
	width:100%;
	background: #FFFFFF;
	display: inline-flex;
}

.logo {
	display: block;
	width: 50%;
	margin:0;
	padding: 0;
}

.logo img{
	width: 59%;
	height: 55%;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 0;

}

.menu {
	display: inline;
	text-align: center;
	width: 50%;
	margin-top: 0;
	padding:0;
}

}
.menu ul{
	padding: 0;
	margin-top: 5px;

}

.menu ul li{
	display: inline-block;
	margin: 10px;
	padding: 20px;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.menu ul li:hover{
	display: inline-block;
	margin: 10px;
	padding: 20px;
	background: orange;
}


.formgeral {
	margin:15px;
}

.form {
	background: #FFFFFF;
	
}


.FormContato {
	clear: both;
	display: inline-block;
	margin:10px;
	padding: 10px;
	width: 50%;
	border-right: 1px solid black;
	
}

.maps {
	padding: 0;

}

.footer {
	position: block;
	bottom:0;
	height: 75px;
	width: 100%;
	background: #FFFFFF;
}


form#contato_melhor_idade .form-group label.full{
		width: 100%;
	}
	form#contato_melhor_idade .form-group input.full{
		width: 100%;
	}
	form#contato_melhor_idade .form-group input.set50{
		width: 50%;
	}
	form#contato_melhor_idade .form-group input.set5{
		width:75%;
		float: left;
	}
	
	.erro_class{
		-webkit-box-shadow: 0px 0px 16px 0px rgba(255, 0, 0, 1);
		-moz-box-shadow:    0px 0px 16px 0px rgba(255, 0, 0, 1);
		box-shadow:         0px 0px 16px 0px rgba(255, 0, 0, 1);
	}
	form {
	    border-right: 1px solid #ccc;
	    margin-bottom: 25px;
	    position: relative;
	}	
	#loading{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background:rgba(0,0,0,0.5);
		z-index: 3;
		display: none;
	}
	#cep{
		display: block;
	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	@media screen and (max-width: 630px){
		form#contato_melhor_idade .form-group input#cep{
			width: 100%;	
			float: none;	
		}
		form#contato_melhor_idade .form-group button.vinte5 {
		    width: 120px;
		    margin: 15px auto 0 auto;
		    display: block;
		    float: none;
		}
	}
</style>