html {
	margin:0;
	width: 100%;
	height:100%;
}

.body {
	margin:0;
	background: #CCCCCC;
	height:100%;

}
.header {
	width:100%;
	background: #FFFFFF;
	display: inline-flex;
}

.logo {
	display: block;
	width: 50%;
	margin:0;
	padding: 0;
}

.logo img{
	width: 59%;
	height: 55%;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 0;

}

.menu {
	display: inline;
	text-align: center;
	width: 50%;
	margin-top: 0;
	padding:0;
}

}
.menu ul{
	padding: 0;
	margin-top: 5px;

}

.menu ul li{
	display: inline-block;
	margin: 10px;
	padding: 20px;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.menu ul li:hover{
	display: inline-block;
	margin: 10px;
	padding: 20px;
	background: orange;
}



.formgeral {
	margin:15px;
}
.form {
	display: inline-flex;
	height: 380px;
	width: 100%;
	background: #FFFFFF;
	
}


.FormContato {
	clear: both;
	display: inline-block;
	margin:10px;
	padding: 10px;
	width: 50%;
	border-right: 1px solid black;
	
}
.FormContato h3 {
  color: #0000ff;
  margin: 0;
  margin-bottom: 2%;
}

form {
	display: inline-block;

}
/*Campos do formulatrio*/

#contato{
	
}
.name{
	width: 90%;
	margin-top: 4px;
	margin-bottom: 4px;
}

#nome{	
	width: 100%;
}
input#nome, input#cpf, input#endereco, input#email{
  width: 100%;
  height: 25px;
  float: left;
  margin: 1.5% 0;
  padding: 0;
  padding-left: 2.5%;
  box-sizing: border-box;
  border-radius: 0;
  border-color: initial;
  border: 1px solid #CBCBCB;
}
input#data, input#telefone {
  width: 49.5%;
  height: 25px;
  box-sizing: border-box;
  padding-left: 2.5%;
  margin: 1.5% 0;
  float: left;
  border: 1px solid #CBCBCB;
}
textarea#mensagem {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-left: 2.5%;
  height: 55px;
  border: 1px solid #CBCBCB;
}
 input#telefone{
 	margin-left: 1%;
 }
 input.btn {
  width: 20%;
  border: 0;
  background-color: #ff8000;
  float: right;
  height: 20px;
  font-size: 80%;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #c9c9c9;
  margin-top: 2.5%;
}
.endereco p {
  margin: 0;
  padding: 0;
}
.Data{
	display: inline-block;
	width: 45%;
	margin-bottom: 4px;
	float: left;	
}

#data{
	display: block;
	width: 100%;
}

.line{
  width: 100%;	
}

.CPF {
	display: block;	
	width: 45%;
	float: left;
}

#cpf{
	display: inline-block;
	width: 100%;
	margin-bottom: 4px;
}

#endereco {
	display: inline;
	width: 50%;
}

.textarea{
	display: inline-block;
	width: 100%;

}

#textarea{
	display: inline-block;
	width: 100%;
	height: 100px; 
	margin-top: 10px;
	padding: 0;
}

.endereco p:nth-child(0), .endereco p:nth-child(4),  .endereco p:nth-child(6){
	margin-top: 10%;
}
.endereco {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
  padding-top: 5%;
}

.maps {
	margin: 15px;

}

.footer {
	position: block;
	bottom:0;
	height: 75px;
	width: 100%;
	background: #FFFFFF;
}

