
		<section class="container" id="sobre_melhor_idade">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-branco">
				<h3>Conheca mais sobre a melhor idade</h3>
				<br />
				<p class="text-justify">Conheca mais sobre a melhor idade</p>
				<p class="text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros commodo tempor.</p>
				<p class="text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros commodo tempor. </p>
				<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde accusantium nulla ipsum aperiam quae excepturi sed, incidunt corporis! Molestiae aspernatur libero ullam excepturi nisi sit modi voluptatum eius molestias ex.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde accusantium nulla ipsum aperiam quae excepturi sed, incidunt corporis! Molestiae aspernatur libero ullam excepturi nisi sit modi voluptatum eius molestias ex.</p>
				<div class="clearfix"></div>
				<div class="texto_sociais pull-right">
					<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse'	>Compartilhar</a>
					</div>
				</div>
			</article>
		</section>	
		<br />
		<section class="container" id="atividades_home">
			 <article class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
			    <div class="thumbnail">
			    <h4 class="text-center">Multirao medico</h4>
				<img src="images/destaques/destaque1.jpg" alt="..." class="center-block">
				<div class="caption">
					<p class="text-center">Consectetur adipiscing elit.</p>
				</div>
			    </div>
			  </article>

			  <article class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
			    <div class="thumbnail">
			    <h4 class="text-center">Multirao medico</h4>
				<img src="images/destaques/destaque1.jpg" alt="..." class="center-block">
				<div class="caption">
					<p class="text-center">Consectetur adipiscing elit.</p>
				</div>
			    </div>
			  </article>
			  <article class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
			    <div class="thumbnail">
			    <h4 class="text-center">Multirao medico</h4>
				<img src="images/destaques/destaque1.jpg" alt="..." class="center-block">
				<div class="caption">
					<p class="text-center">Consectetur adipiscing elit.</p>
				</div>
			    </div>
			  </article>
			  <article class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
			    <div class="thumbnail">
			    <h4 class="text-center">Multirao medico</h4>
				<img src="images/destaques/destaque1.jpg" alt="..." class="center-block">
				<div class="caption">
					<p class="text-center">Consectetur adipiscing elit.</p>
				</div>
			    </div>
			  </article>
		</section>