
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Melhor Idade SA</title>
	<link rel="stylesheet" href="sass/main.css">
	<link rel="stylesheet" href="sass/home.css">
</head>

<body>
<header>
	<div class="container_logo_menu">
		<figure>
			<img src="images/logo.png" alt="Melhor Idades SA, o lugar ideal para descansar." class="logo">
		</figure>
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Quem Somos</a></li>
				<li><a href="">Contato</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</div>
</header>
	<main>